$background-color-dark: #222222;
$background-color-light: #f8f3f4;
$background-color-light-card: #f3eeef;
$color-primary: #f16d7f;
$color-black: #000000;
$color-text: #575757;
$color-secondary: #6f6e6e;
$color-intut-border: #a4a4a4;

$font-stack: Lato, Arial;

html,
body {
  min-height: 100vh;
  margin: 0;
  font-family: $font-stack;
  box-sizing: border-box;
}
.page {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1140px;
}

.display-none {
  display: none;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.padding-simple {
  padding: 5px;
}

.light__block {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
// .btn-secondary {
//   border: solid 1px $color-primary;
//   background-color: transparent;
//   color: $color-primary;
//   padding: 15px 25px;
//   font-size: 16px;
//   transition: 1s;
//   :hover {
//     color: white;
//     background-color: $color-primary;
//   }
// }

// button:hover {
//   cursor: pointer;
// }

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-by-margin {
  margin: 0 auto;
}

.block-big-margin-y {
  margin-top: 100px;
  margin-bottom: 100px;
}

.primary-on-hover {
  &:hover {
    color: $color-primary;
  }
}

.round {
  border-radius: 50%;
}

.odd-items {
  .product__item {
    display: flex;
  }
}

.btn {
  &:hover {
    cursor: pointer;
  }
}

.link {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}

.back-transparent {
  background-color: transparent;
  
}

.back-white {
  background-color: white;
}

.back-primary {
  background-color: white;
}

.back_hover-primary:hover {
  background-color: $color-primary;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

.text-secondary {
  color: $color-secondary;
}

.text- {
  color: black;
}

.text-primary {
  color: $color-primary;
}

.text_hover-primary {
  color: $color-primary;
}

.text_hover-white {
  color: white;
}

.border-transparent {
  border: solid 1px transparent;
  outline: none;
  border-radius: 2px;
}

.border_hover-white {
  &:hover {
    border: solid 1px white;
    outline: none;
    border-radius: 2px;
  }
}

.border_focus-white {
  &:focus {
    border: solid 1px white;
    outline: none;
    border-radius: 5px;
  }
}
