$background-color-dark: #222224;
$background-color-light: #f8f3f4;
$background-color-light-card: #f3eeef;
$color-primary: #f16d7f;
$color-black: #222222;
$color-text: #575757;
$color-secondary: #6f6e6e;
$color-intut-border: #a4a4a4;

$font-stack: Lato;

.footer {
  background-color: $background-color-dark;
  margin-top: 150px;
}
.footer__subscribe {
  background-image: url("../img/subscribe_fon.png");
  background-size: cover;
  background-position: center;
}
.subscribe__container {
  justify-content: space-between;
  padding: 130px 0px 130px 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.subscribe__info {
  grid-column: 1 / 2;
  grid-row: 1;
  text-align: center;
  div {
    font-size: 20px;
    font-weight: normal;
    margin: 20px 100px 0 100px;
  }
}
.subscribe__enter {
  grid-column: 2 / 2;
  grid-row: 1;
  text-align: center;
  div {
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: normal;
    margin: 20px 50px 10px 50px;
  }
}

.round {
  border-radius: 50%;
}
.subscribe__form {
  display: flex;
  align-items: center;
  justify-content: center;
  input[type="email"]:focus {
    background-color: #f8f8f8;
    border-color: $color-primary;
    transition: 2s;
  }
}
.subscribe__email,
.subscribe__btn {
  outline: none;
  border: 2px;
  padding: 20px;
  border: solid 1px;
}
.subscribe__email {
  border-radius: 20px 0 0px 20px;
  width: 60%;
  border-color: #e1e1e1;
  background-color: #e1e1e1;
}

.subscribe__btn {
  border-radius: 0px 20px 20px 0;
  background-color: $color-primary;
  border-color: $color-primary;
  color: #f8f8f8;
}

.copyright__container {
  color: #f8f8f8;
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    padding: 15px;
  }
  button {
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 2px;
    border: none;
    svg {
      vertical-align: middle;
    }
    &:hover {
      background-color: $color-primary;
      color: white;
    }
  }
}

.light__block {
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
}
