$background-color-dark: #222222;
$background-color-light: #f8f3f4;
$background-color-light-card: #f3eeef;
$color-primary: #f16d7f;
$color-black: #222222;
$color-gray: #575757;

$font-stack: Lato;

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-space-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__top {
  background-color: $background-color-dark;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  .container {
    padding: 18px;
    @include flex-space-between;
  }
  .header__logo {
    margin-right: 30px;
  }
  .header__input {
    flex: 1;
    background: url("../img/magnify.svg") no-repeat scroll;
    background-position: center left;
    padding: 10px 10px 10px 30px;
    border: 1px solid transparent;
    border-radius: 0px;
    color: white;
    &:focus {
      border-color: white;

      transition: 2s;
    }
  }
  .num_in_basket {
    font-size: 12px;
    color: white;
    background-color: $color-primary;
    display: inline-flex;
    border-radius: 50%;
    height: 17px;
    width: 17px;
    vertical-align: top;
    margin-left: -12px;
    margin-top: -5px;
    justify-content: center;
    align-items: center;
  }
  .header__nav {
    display: flex;
    flex-direction: row;
  }
}

.header__page {
  margin-top: 70px;
  background-color: $background-color-light;
  padding: 50px;
  color: $color-primary;
  font-size: 24px;
  font-family: $font-stack;
  margin-bottom: 80px;
}
