$background-color-dark: #222222;
$background-color-light: #f8f3f4;
$background-color-light-card: #f3eeef;
$color-primary: #f16d7f;
$color-black: #000000;
$color-text: #575757;
$color-secondary: #6f6e6e;
$color-intut-border: #a4a4a4;

$font-stack: Lato;

.reg__container {
  display: flex;
  justify-content: space-between;
}

.form-reg {
  display: flex;
  flex-direction: column;
  width: 35%;

  min-width: 360px;
  color: $background-color-dark;
  font-size: 13px;
  font-weight: 300;

  & * {
    margin: 10px;
  }
  label {
    font-size: 16px;
    margin-top: 25px;
  }
  .gender-radio {
    label {
      font-size: 13px;
    }
  }
  .pass-note {
    color: #b1b1b1;
  }
  .form-actions {
    padding: 0;
    margin: 0;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    svg {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.perks__container {
  flex: 1;
  font-size: 24px;
  font-weight: 300;
  color: $color-black;
  padding-left: 50px;
  margin-left: 50px;
  margin-right: 50px;
  ul {
    list-style: none;
    li {
      margin-top: 10px;
    }
  }
}

li {
  position: relative;
}

ul li:before {
  position: absolute;
  top: 2px;
  left: 0;
  content: " ";
  width: 50px;
  height: 50px;
  background: url("../img/list-item.svg") no-repeat;
  margin-left: -40px;
}
