$background-color-dark: #222224;
$background-color-light: #f8f3f4;
$background-color-light-card: #f3eeef;
$color-primary: #f16d7f;
$color-black: #222222;
$color-text: #575757;
$color-secondary: #6f6e6e;
$color-intut-border: #a4a4a4;

$font-stack: Lato;

.footer {
  background-color: $background-color-dark;
}

.copyright__container {
  color: #f8f8f8;
  font-weight: normal;
  font-size: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;

  button {
    font-size: 16px;
    text-align: center;
    padding: 5px;
    margin: 15px 0px;
    border: none;
    svg {
      vertical-align: middle;
    }
  }
}
