$color-primary: #f16d7f;

.product__container {
  .slide {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f7f7;
    .slide__btn {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background-color: rgba(42, 42, 42, 0.15);
    }
    .slide__btn:hover {
      color: $color-primary;
    }
  }
}

.product-description {
  padding: 60px 200px 60px 200px;
  border: solid #eaeaea 1px;
  background-color: rgb(255, 255, 255);
  margin: -50px 0 0 0;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 14px;
  color: #5e5e5e;
  font-weight: 300;
  & > * {
    margin-top: 50px;
  }

  &__title-group {
    color: $color-primary;
    font-weight: normal;
    font-size: 14px;
    font-weight: 300;
  }

  &__title {
    color: #4d4d4d;
    font-weight: normal;
    font-size: 18px;
    font-weight: 300;
    font-size: 24px;
    &::before {
      content: "";
      display: block;
      margin: auto;
      width: 80px;
      height: 4px;
      margin-bottom: 15px;
      background-color: $color-primary;
    }
  }
  &__price {
    font-size: 24px;
    &::after {
      content: "";
      display: block;
      margin: auto;
      width: 80%px;
      height: 2px;
      margin-top: 50px;
      margin-bottom: 50px;
      background-color: #eaeaea;
    }
  }

  &__choose {
    display: inline;
    padding: 10px;
    &::after {
      content: url("../../img/down.svg");
      vertical-align: top;
      padding: 10px;
    }
  }
}
